$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}
